{% extends 'main/base.html' %}

{% block title %}
Тут что то написано должно быть
{% endblock %}

{% block content %}



    <div class="container-sm">
    <form method="post">
    {% csrf_token %}
  <div class="form-group row">
    <label for="number" class="col-sm-2 col-form-label">№ Груза</label>
    <div class="col-sm-10">
      <input type="text" class="form-control-plaintext" id="number" name="nomer" style="border:1px solid #DADADA; width:50%">
    </div>
  </div>
  <div class="form-group row">
    <label for="closing_time" class="col-sm-2 col-form-label">Время до закрытия</label>
    <div class="col-sm-10">
      <input type="text" class="form-control-plaintext" id="closing_time" name="vrema" style="border:1px solid #DADADA; width:50%">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Груз</label>
    <div class="col-sm-10">
  <select name="griz">
        {%for i in items%}
              <option value="#">{{i.name}}</option>
        {%endfor%}
    </select>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Транспорт</label>
    <div class="col-sm-10">
  <select name="mashina">
        {%for o in options%}
              <option value="">{{o.name}}</option>
        {%endfor%}
    </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="gabar" class="col-sm-2 col-form-label">Габариты</label>
    <div class="col-sm-10">
      <input type="text" class="form-control-plaintext" id="gabar" name="gabariti" style="border:1px solid #DADADA; width:50%">
    </div>
  </div>
  <div class="form-group row">
    <label for="kolishestvo" class="col-sm-2 col-form-label">Количество</label>
    <div class="col-sm-10">
      <input type="text" class="form-control-plaintext" id="kolishestvo" name="skolko_mest" style="border:1px solid #DADADA; width:50%">
    </div>
  </div>
  <div class="form-group row">
    <label for="pogruzka" class="col-sm-2 col-form-label">Погрузка</label>
    <div class="col-sm-10">
      <input type="text" class="form-control-plaintext" id="pogruzka" name="otcuda" style="border:1px solid #DADADA; width:50%">
    </div>
  </div>
  <div class="form-group row">
    <label for="razgruzka" class="col-sm-2 col-form-label">Разгрузка</label>
    <div class="col-sm-10">
      <input type="text" class="form-control-plaintext" id="razgruzka" name="cyda" style="border:1px solid #DADADA; width:50%">
    </div>
  </div>

    <button type="submit" class="btn btn-primary">Sign in</button>
</form>
    </div>
{% endblock %}